@use '../tokens/variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--text-body);
  font-size: $font-size-16;
  font-family: $font-family-sans-serif;
  line-height: $line-height-reading;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-heading);
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ul,
ol,
li,
dl,
dt,
dd,
table,
thead,
tbody,
tfoot,
tr,
th,
td,
figure,
figcaption,
pre,
hr,
address,
div,
section,
article,
aside,
header,
footer,
nav,
main {
  margin: 0;
  padding: 0;
}

b,
strong {
  color: var(--text-heading);
  font-weight: $font-weight-bold;
}

code,
kbd,
samp,
pre {
  font-family: $font-family-mono;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg,
video,
canvas,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  color: inherit;
  font: inherit;
}

textarea {
  resize: vertical;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

button:disabled,
[disabled] {
  cursor: not-allowed;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}
