// stylelint-disable custom-property-empty-line-before

:root {
  --bg: #fbf8ef;
  --bg-surface: #fefcf6;

  --text-heading: #1d1d1b;
  --text-body: #33312d;
  --text-muted: #68645c;

  --border: #ddd5c6;
  --marker: #aaa59a;
  --accent: #2563eb;
}
