---
import config from '@/config';
import '@/styles/style.scss';

const { site } = config;
const { title } = Astro.props;
---

<!doctype html>
<html lang={site.lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Pretendard font -->
    <link rel="preconnect" href="https://cdn.jsdelivr.net" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
    <!-- // Pretendard font -->

    <!-- JetBrains Mono font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap"
    />
    <!-- // JetBrains Mono font -->

    <meta name="generator" content={Astro.generator} />
    <title>{title} | {site.title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
